#build binary folders
#build/vs2019-x64
#build/vs2017-x64
#build/vs2015-x64
#build/vs2013-x64
#build/xcode
#build/g++
#build/linux
#build/armeabi-v7a
#build/arm64-v8a
#build/android-arm64
#build/android-arm32
#build/sigmastar
#build/ohos-arm32
#build/ohos-arm64

# 所有目录下的build子目录中的任何目录，都忽略
**/build/*/
