# https://editorconfig.org/

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4

[{CMakeLists.*,*.cmake}]
indent_style = space
indent_size = 2

[{Makefile,makefile}]
indent_style = tab

[*.{bat,cmd,cmd.*}]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.{ps1,ps1.*}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{md,markdown}]
indent_size = 4
