# Clangd
.cache/

# Backup files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# CLion
cmake-build-*/

# JetBrains IDEs
.idea/

# Visual Studio
.vs
*.sln
*.suo
*.vcxproj
*.vcxproj.*
*.vcproj
*.vcproj.*

# Python
__pycache__/
*.pyc
*.pyd
*.egg-info/

# xmake
.xmake/

# MacOS Cache
.DS_Store

# Node
npm-debug.log

# Build output
**/build/*/
.o
a.out
.dump

# VSCode
.vscode

# Java
.class
