**/vs2017-x64
testbed3/build
testbed4/build
testbed5/build
testbed6/build

#所有目录下的build子目录中的任何目录，都忽略
**/build/*/

cmake-build-debug
cmake-build-release

.idea
.vscode


.class

.o
a.out
.dump

# clangd
**/.cache
